body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/fondo2.webp'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  color: #333;
}

/* Contenedor principal */
.container {
  max-width: 670px;
  margin: 50px auto;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(169, 223, 23, 0.1);
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 300px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.8rem;
  color: #0c0c0c;
  margin: 0;
}


/* Formulario */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;

}

.form-group label {
    font-weight: 300; /* Extra Bold */

}

input, textarea, select {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  font-size: 1rem;
  width: 80%;
}

/* Estilo para los campos de solo lectura */
input[readonly], textarea[readonly] {
  background-color: #f1f1f1; /* Color de fondo para indicar que no es editable */
  cursor: not-allowed; /* Cambia el cursor para indicar que no se puede editar */
}

button {
  grid-column: 1 / -1;
  padding: 10px 20px;
  background: #219bb9;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background: #227ab4;
}
