body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    text-align: center;
}
  
canvas {
    background-color: #f8f3f3;
    border-radius: 10px;
}
  
.stats {
    margin-top: 20px; /* Aquí se corrigió el espacio */
}
